fastapi
uvicorn
jinja2
python-multipart
pandas
scikit-learn
scikit-optimize
plotly
authlib
httpx
requests
starlette
itsdangerous
psycopg2-binary
google-genai
groq

--extra-index-url https://download.pytorch.org/whl/cpu
torch>=2.0.0
gpytorch>=1.11.0
scipy>=1.10.1
